 {% extends 'base.html' %} 
 {% load static %}

 {% block title %} 
 New Posts 
 {% endblock title %} 
 
 {% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="{% static 'css/index.css' %}"> 
{% endblock scripts %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> 
{% endblock style %} 

{% block body %}
<div class="geral">
    <center>
    <p><h1>{{hello}}</h1></p>
    <h2>{{compliments}}</h2>
    </center>
</div>
{% endblock body %}